<ul class="sidebar-nav">
  <li><a href="/inventory">Home</a></li>
  <li><a href="/inventory/books">All books</a></li>
  <li><a href="/inventory/genres">All genres</a></li>
  <hr />
  <li><a href="/inventory/book/create">Create new book</a></li>
  <li><a href="/inventory/genre/create">Create new genre</a></li>
</ul>
