<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include _sidebar-nav %>
    <div class="main">
      <h1><%= title %></h1>
      <form method="post" action="">
        <label for="title"> Title:</label>
          <input
            type="text"
            placeholder="*Name of book"
            name="title"
            required
            id="title"
          />  
        <label for="author">
          Author:</label>
          <input
            type="text"
            placeholder="*Name of author"
            name="author"
            required
            id="author"
          />
        </label>
        <label for="summary">
          Summary:</label>
          <input
            type="text"
            placeholder="*Short summary of the book"
            name="summary"
            required
            id="summary"
          />       
        <label for="isbn"> 
          ISBN:</label>
          <input type="number" placeholder="ISBN" name="isbn" min="0" id="isbn"/>       
        <label for="price">
          Price: </label>
          <input type="text" placeholder="26.50$.." name="price" id="price" />       
        <label for="numinstock">
          Number in stock: </label>
          <input
            type="number"
            placeholder="25.."
            name="numInStock"
            min="0"
            max="100"
            id="numinstock"
          />
        <label>Genre:</label>
        <div class="genre-list-form">
          <% genres.forEach(genre => { %>
          <div>
            <label>
              <%= genre.name %>
              <input type="checkbox" name="genre" value="<%= genre._id %>" />
            </label>
          </div>
          <%})%>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
